@model IEnumerable<surveychallenge.Survey>

@{
    ViewBag.Title = "Survey";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<style type="text/css">
    p { text-align: right; }
</style>

<h2 style="font-weight:600;">Surveys</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurveyTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.SurveyTitle)
                    [Submit Count(@item.SubmitCount)]
                </td>
                <td style="text-align:right">
                    <button type="button" class="btn btn-warning" onclick="location.href='/our-closed-surveys/@item.SurveyId'">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>
